//- div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Self-adjusting alarm clock

.container
  .row
    .col-md-6
      div(ng-include='"components/time/time.html"')
      div(ng-include='"components/next-alarm/next-alarm.html"')

    .col-md-6
      div(ng-include='"components/settings/settings.html"')

footer.footer
  .container
    p
      a(href='https://twitter.com/jacopotarantino') @jacopotarantino
      = ' | '
      a(href='https://jack.ofspades.com') Web
